.container {
  max-width: 800px;
  height: 500px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.ball {
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  animation: moveX 5.3s infinite alternate linear,
    moveY 3.7s infinite alternate linear;
  position: absolute;
}

@keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: calc(100% - 20px);
  }
}

@keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: calc(100% - 20px);
  }
}
