.container {
  width: 500px;
  height: 500px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.ball {
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  animation: moveBall 10s infinite linear;
  position: absolute;
}

@keyframes moveBall {
  0% {
    top: 0;
    left: 0;
  }
  12.5% {
    top: 100px;
    left: calc(100% - 20px);
  }
  25% {
    top: 200px;
    left: 0;
  }
  37.5% {
    top: 300px;
    left: calc(100% - 20px);
  }
  50% {
    top: calc(100% - 20px);
    left: 0;
  }
  62.5% {
    top: 300px;
    left: calc(100% - 20px);
  }
  75% {
    top: 200px;
    left: 0;
  }
  87.5% {
    top: 100px;
    left: calc(100% - 20px);
  }
  100% {
    top: 0;
    left: 0;
  }
}
