body {
  padding: 50px;
}
.light-theme {
  background-color: antiquewhite;
  li a {
    text-decoration: none;
    color: black;
  }
}
.dark-theme {
  background-color: rgb(39, 37, 52);
  color: white;
  li a {
    text-decoration: none;
    color: white;
  }
}
