.header{
  padding:25px 51px;
}
.header .header-icon{
  display:none;
}
.header .header-left{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  -ms-flex-wrap:nowrap;
      flex-wrap:nowrap;
  gap:0;
  gap:42px;
  font-size:15px;
  font-weight:400;
  margin-right:10px;
}
.header .header-left .logo-container{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:normal;
      -ms-flex-pack:normal;
          justify-content:normal;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  -ms-flex-wrap:nowrap;
      flex-wrap:nowrap;
  padding-right:10px;
  gap:10px;
}
.header .header-buttons{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  min-width:250px;
  -ms-flex-negative:0;
      flex-shrink:0;
}
.header .header-buttons .header-button-1{
  width:120px;
  height:45px;
  border-radius:0;
  background-color:white;
}
.header .header-buttons .header-button-2{
  width:120px;
  height:45px;
  border-radius:0;
  border:none;
  background-color:#ff6336;
  color:white;
  margin-left:10px;
}

.header-left-navigation{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  list-style:none;
  margin-right:10px;
  -webkit-box-flex:1;
      -ms-flex-positive:1;
          flex-grow:1;
  gap:5%;
}
.header-left-navigation li{
  padding:0 10px;
}
.main-section{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  padding:0 75px 180px 75px;
}
.main-section div{
  -webkit-box-flex:1;
      -ms-flex:1 1 400px;
          flex:1 1 400px;
  min-width:400px;
}
.main-section .title{
  max-width:522px;
  font-size:65px;
  font-weight:600;
  line-height:70px;
}
.main-section .title-description{
  max-width:470px;
  font-size:25px;
  font-weight:400;
  line-height:35px;
  padding-bottom:51px;
  margin-right:20px;
}
.main-section .main-section-button-1{
  width:160px;
  height:60px;
  border-radius:0;
  background-color:#ff6336;
  color:#ffffff;
  font-size:16px;
  font-weight:600;
  border:none;
  margin-right:10px;
}
.main-section .main-section-button-2{
  width:160px;
  height:60px;
  border-radius:0;
  background-color:white;
  font-size:16px;
  font-weight:600;
}
.main-section .img-main-section{
  padding:100px 0;
  max-width:100%;
  height:auto;
  -webkit-box-flex:1;
      -ms-flex:1 1 400px;
          flex:1 1 400px;
  min-width:400px;
}
.main-section .title-description-down{
  font-size:15px;
  font-weight:400;
  padding-top:25px;
}
.companies{
  padding:110px 0;
  background-color:#ff9c7d;
  max-width:1440px;
  margin:0 auto;
}
.companies .companies-logo{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  padding:20px 75px;
  gap:110px;
}
.companies .companies-title{
  padding-bottom:70px;
  margin:0 auto;
  text-align:center;
  max-width:720px;
  font-size:50px;
  font-weight:600;
  line-height:60px;
}

.process{
  display:grid;
  grid-template-columns:1fr 1fr;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  gap:250px 30px;
  padding:90px 20px 150px 20px;
}
.process .process-text{
  max-width:600px;
  margin-left:75px;
  margin:0 auto;
}
.process .process-text .process-image{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  max-width:632px;
}
.process .process-text .process-title{
  font-size:50px;
  line-height:60px;
  padding-bottom:35px;
}
.process .process-text .process-description{
  font-size:20px;
  line-height:30px;
  font-weight:400;
  padding-bottom:35px;
}
.process .process-text .process-button{
  border-radius:0;
  background-color:#ffffff;
  border:none;
  font-size:20px;
  font-weight:600;
}
.process .process-image img{
  width:100%;
}
.localize-background{
  background-color:#fff8e4;
}
.localize-background .localize{
  max-width:1260px;
  display:grid;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  grid-template-columns:repeat(auto-fit, minmax(330px, 1fr));
  -webkit-box-align:start;
      -ms-flex-align:start;
          align-items:flex-start;
  text-align:center;
  justify-items:center;
  gap:110px;
  row-gap:80px;
  margin:0 auto;
  padding-bottom:170px;
}
.localize-background .localize-title{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  font-size:50px;
  font-weight:600;
  padding-top:120px;
  padding-bottom:80px;
}
.localize-background .localize-title-icon{
  font-size:25px;
  font-weight:600;
  padding-bottom:25px;
  padding-top:25px;
}
.localize-background .localize-title-icon-description{
  width:330px;
  font-size:18px;
  line-height:25px;
}

.productivity-description{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  text-align:center;
  gap:20px;
  padding-top:95px;
}
.productivity-description .productivity-img{
  height:201px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  padding-bottom:50px;
}
.productivity-description .productivity-button{
  border-radius:0;
  background-color:#ffffff;
  border:none;
  font-size:20px;
  text-decoration:underline;
  padding-bottom:190px;
}
.productivity-description .productivity-title{
  font-size:50px;
  font-weight:600;
  text-align:center;
  padding-top:155px;
}
.productivity-description .productivity-description-title{
  font-size:30px;
  font-weight:600;
  padding-bottom:30px;
}
.productivity-description .productivity-description-items{
  width:405px;
  font-size:20px;
  font-weight:400;
  padding-bottom:25px;
}
.productivity-description .productivity-button a{
  color:black;
}

.quote{
  background-color:#c9e8f2;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  padding:53px 75px 105px;
}
.quote .quote-text{
  font-size:30px;
  line-height:40px;
  font-weight:400;
  max-width:900px;
  padding-bottom:25px;
}
.quote .quote-cooper{
  font-size:15px;
  padding-bottom:10px;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}

.software{
  background-color:#dabc98;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  margin:0 auto;
  padding:90px 0;
  gap:50px;
}
.software .software-block-left{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  justify-content:center;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  gap:67px;
}
.software .software-block-left .software-title{
  font-size:35px;
  font-weight:600;
  line-height:50px;
  max-width:460px;
}
.software .software-block-right{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  gap:70px;
}
.software .software-block-right .software-stars{
  font-size:28px;
  padding-top:20px;
  padding-bottom:15px;
}
.software .software-block-right .software-description{
  font-size:15px;
  font-weight:400;
}
.software .software-line{
  border-right:1px solid black;
  padding-right:71px;
}
.tools{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  text-align:center;
  padding-top:170px;
}
.tools img{
  max-width:100%;
  height:auto;
}
.tools .tools-title{
  font-size:65px;
  line-height:75px;
  max-width:790px;
}
.tools .tools-description{
  font-size:25px;
  line-height:30px;
  font-weight:400;
  max-width:539px;
  padding-bottom:25px;
}
.tools .tools-button{
  font-size:16px;
  background-color:#b7ff7d;
  color:#ffffff;
  border:none;
  border-radius:0%;
  padding:20px;
  margin-top:32px;
  margin-bottom:160px;
}

.localization{
  background-color:#ff9c7d;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  padding:165px 328px;
}
.localization .localization-title{
  font-size:65px;
  line-height:75px;
  font-weight:600;
  text-align:center;
  padding-bottom:30px;
  text-align:center;
}
.localization .localization-text{
  font-size:20px;
  line-height:30px;
  font-weight:400;
  text-align:center;
  padding-bottom:55px;
}
.localization .localization-button{
  border:none;
  border-radius:0;
  background-color:black;
  color:#ffffff;
  padding:20px 40px;
}

.case{
  padding:92px 75px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
}

.case-logo{
  width:80px;
  padding-top:35px;
  padding-bottom:15px;
}

.case-left{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  width:300px;
  -webkit-box-align:start;
      -ms-flex-align:start;
          align-items:flex-start;
}
.case-left .case-title{
  font-size:40px;
  font-weight:600;
  padding-bottom:20px;
}
.case-left .case-description{
  font-size:20px;
  font-weight:400;
  line-height:30px;
  padding-bottom:20px;
}
.case-left .case-button{
  border:none;
  background-color:#ffffff;
  font-size:20px;
  font-weight:600;
  padding-bottom:25px;
}

.case-right{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  gap:100px;
  padding-left:20px;
}
.case-right .case-navigation{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
}
.case-right .case-navigation-list{
  font-size:15px;
  font-weight:400;
  color:black;
  list-style:none;
  padding-bottom:15px;
}
.case-right .case-navigation-list a{
  text-decoration:none;
  color:black;
}

.footer{
  max-width:1290px;
  margin:0 auto;
  padding:48px 10px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  border-top:1px solid #000;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
}
.footer .footer-left{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  gap:15px;
}
.footer .footer-text{
  font-size:12px;
  font-weight:400;
  line-height:15px;
  padding-left:10px;
}

*{
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
}

@font-face{
  font-family:"Graphik";
  src:url("../../font/Graphik-Medium.ttf") format("truetype");
  font-weight:500;
  font-style:normal;
}
body{
  font-family:"Graphik", sans-serif;
}

.container{
  max-width:1440px;
  margin:0 auto;
  padding-inline:5%;
}

@media (max-width: 1280px){
  .software-line{
    display:none;
  }
  .software-title{
    text-align:center;
  }
}

@media (max-width: 992px){
  .main-section{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
  }
}

@media (max-width: 768px){
  .header-left-navigation{
    display:none;
  }
  .header-icon{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    width:50px;
  }
  .header-left{
    gap:16px;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
  }
  .process{
    grid-template-columns:1fr;
  }
  .process-text-1{
    grid-row:3;
  }
  .process-text-2{
    grid-row:7;
  }
}