.case {
  padding: 92px 75px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.case-logo {
  width: 80px;
  padding-top: 35px;
  padding-bottom: 15px;
}

.case-left {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: flex-start;

  .case-title {
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 20px;
  }
  .case-description {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px;
  }

  .case-button {
    border: none;
    background-color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 25px;
  }
}

.case-right {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  padding-left: 20px;

  .case-navigation {
    display: flex;
    flex-direction: column;
  }
  .case-navigation-list {
    font-size: 15px;
    font-weight: 400;
    color: black;
    list-style: none;
    padding-bottom: 15px;

    a {
      text-decoration: none;
      color: black;
    }
  }
}
