@use "variables";

.tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 170px;

  img {
    max-width: 100%;
    height: auto;
  }

  .tools-title {
    font-size: 65px;
    line-height: 75px;
    max-width: 790px;
  }

  .tools-description {
    font-size: 25px;
    line-height: 30px;
    font-weight: 400;
    max-width: 539px;
    padding-bottom: 25px;
  }

  .tools-button {
    font-size: 16px;
    background-color: #b7ff7d;
    color: #ffffff;
    border: none;
    border-radius: 0%;
    padding: 20px;
    margin-top: 32px;
    margin-bottom: 160px;
  }
}

.localization {
  background-color: #ff9c7d;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 165px 328px;

  .localization-title {
    font-size: 65px;
    line-height: 75px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 30px;
    text-align: center;
  }

  .localization-text {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 55px;
  }

  .localization-button {
    border: none;
    border-radius: 0;
    background-color: black;
    color: #ffffff;
    padding: 20px 40px;
  }
}
