@use "variables" as *;
@use "header";
@use "main-section";
@use "companies";
@use "process";
@use "localize-background";
@use "productivity";
@use "quote-software";
@use "tools-localization";
@use "case";
@use "footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Graphik";
  src: url("../../font/Graphik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Graphik", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 5%;
}
