table {
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

td {
    border: 5px solid black;
    width: 25px;
    height: 25px;
}

.color-red {
    background-color: red;
}

.color-yellow {
    background-color: yellow;
}

.color-blue {
    background-color: blue;
}

.color-black {
    background-color: black;
}

.size-1-1 {
    height: 50px;
    width: 100px;
}

.size-1-2 {
    width: 150px;
}

.size-1-3 {
    width: 125px;
}

.size-1-4 {}

.size-2-1 {
    height: 100px;
    width: 50px;
}

.size-2-2 {
    width: 200px;
    height: 200px;
}

.size-3-1 {
    height: 150px;
}

.size-4-3 {
    width: 100px;
}

.size-5-3 {
    height: 50px;
}
