.border {
  border: 2px solid rgb(0, 0, 0);
  margin-left: 10px;
}
.label-style {
  display: flex;
  padding: 10px;
}
.red-border {
  border: 2px solid rgb(255, 0, 0);
}
.green-border {
  border: 2px solid rgb(68, 255, 0);
}
