* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Graphik';
    src: url('font/Graphik-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Graphik', sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 51px;

}

.header-left {
    display: flex;
    gap: 57px;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
}

.header-icon {
    display: none;
}

.header-right {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-end;
}


.header-left-navigation {
    display: flex;
    gap: 57px;
    list-style: none;
}

.header-button-1 {
    width: 120px;
    height: 45px;
    border-radius: 0;
    background-color: #FFFFFF;
}

.header-button-2 {
    width: 120px;
    height: 45px;
    border-radius: 0;
    border: none;
    background-color: #FF6336;
    color: #FFFFFF;
}

.main-section {
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 75px 180px 75px;
}

.title {
    max-width: 522px;
    font-size: 65px;
    font-weight: 600;
    line-height: 70px;
}

.title-description {
    max-width: 470px;
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
    padding-bottom: 51px;
}

.main-section-button-1 {
    width: 160px;
    height: 60px;
    border-radius: 0;
    background-color: #FF6336;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border: none;
    margin-right: 10px;
}

.main-section-button-2 {
    width: 160px;
    height: 60px;
    border-radius: 0;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;

}

.img-main-section {
    padding: 100px 0;
    max-width: 100%;
    height: auto;

}


.title-description-down {
    font-size: 15px;
    font-weight: 400;
    padding-top: 25px;
}


.companies {
    padding: 110px 0;
    background-color: #FF9C7D;

}

.companies-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 75px;
    gap: 110px;
}


.companies-title {
    padding-bottom: 70px;
    margin: 0 auto;
    text-align: center;
    max-width: 720px;
    font-size: 50px;
    font-weight: 600px;
    line-height: 60px;
}

.process {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 250px 30px;
    padding: 90px 20px 150px 20px;
}

.process-text {
    max-width: 600px;
    margin-left: 75px;
    margin: 0 auto;
}

.process-image {
    display: flex;
    align-items: center;
    max-width: 632px;

}

.process-image img {
    width: 100%;
}

.process-title {
    font-size: 50px;
    line-height: 60px;
    padding-bottom: 35px;
}

.process-description {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    padding-bottom: 35px;

}

.process-button {
    border-radius: 0;
    background-color: #FFFFFF;
    border: none;
    font-size: 20px;
    font-weight: 600;
}

.localize-background {
    background-color: #FFF8E4;
}

.localize {
    max-width: 1260px;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    align-items: flex-start;
    text-align: center;
    justify-items: center;
    gap: 110px;
    row-gap: 80px;
    margin: 0 auto;
    padding-bottom: 170px;
}

.localize-title {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 600;
    padding-top: 120px;
    padding-bottom: 80px;
}

.localize-title-icon {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 25px;
    padding-top: 25px;
}

.localize-title-icon-description {
    width: 330px;
    font-size: 18px;
    line-height: 25px;
}

.productivity-title {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    padding-top: 155px;
}

.productivity-img {
    height: 201px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}


.productivity-description {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    text-align: center;
    gap: 20px;
    padding-top: 95px;
}

.productivity-description-title {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 30px;
}

.productivity-description-items {
    width: 405px;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 25px;
}

.productivity-button {
    border-radius: 0;
    background-color: #FFFFFF;
    border: none;
    font-size: 20px;
    text-decoration: underline;
    padding-bottom: 190px;
}

.productivity-button a {
    color: black;
}

.quote {
    background-color: #C9E8F2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 53px 75px 105px;
}



.quote-text {
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
    max-width: 900px;
    padding-bottom: 25px;
}

.quote-cooper {
    font-size: 15px;
    padding-bottom: 10px;
    align-items: center;
}

.software {
    background-color: #DABC98;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 90px 0;
    gap: 50px;
}

.software-block-left {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    gap: 67px;
}

.software-block-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.software-title {
    font-size: 35px;
    font-weight: 600;
    line-height: 50px;
    max-width: 460px;
}

.software-line {
    border-right: 1px solid black;
    padding-right: 71px;

}

.software-stars {
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 15px;
}

.software-description {
    font-size: 15px;
    font-weight: 400;
}

.tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 170px;

}

.tools img {
    max-width: 100%;
    height: auto;
}

.tools-title {
    font-size: 65px;
    line-height: 75px;
    max-width: 790px;
}

.tools-description {
    font-size: 25px;
    line-height: 30px;
    font-weight: 400;
    max-width: 539px;
    padding-bottom: 25px;
}

.tools-button {
    font-size: 16px;
    background-color: #FF6336;
    color: #FFFFFF;
    border: none;
    border-radius: 0%;
    padding: 20px;
    margin-top: 32px;
    margin-bottom: 160px;
}

.localization {
    background-color: #FF9C7D;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 165px 328px;
}

.localization-title {
    font-size: 65px;
    line-height: 75px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 30px;
    text-align: center;
}

.localization-text {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 55px;
}

.localization-button {
    border: none;
    border-radius: 0;
    background-color: black;
    color: #FFFFFF;
    padding: 20px 40px;
}

.case {
    padding: 92px 75px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.case-title {
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 20px;
}

.case-logo {
    width: 80px;
    padding-top: 35px;
    padding-bottom: 15px;
}

.case-description {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px;
}

.case-button {
    border: none;
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 25px;
}

.case-left {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: flex-start;
}

.case-navigation {
    display: flex;
    flex-direction: column;
}

.case-right {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

.case-navigation-title {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
}

.case-navigation-list {
    font-size: 15px;
    font-weight: 400;
    color: black;
    list-style: none;
    padding-bottom: 15px;
}

.case-navigation-list a {
    text-decoration: none;
    color: black;
}

.footer {
    max-width: 1290px;
    margin: 0 auto;
    padding: 48px 0px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #000;
    box-sizing: border-box;
}

.footer-left {
    display: flex;
    gap: 15px;
}

.footer-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}

@media (max-width: 1280px) {
    .software-line {
        display: none;
    }

    .software-title {
        text-align: center;
    }
}

@media (max-width: 1125px) {
    .header-left-navigation {
        display: none;
    }

    .header-icon {
        display: flex;
        width: 50px;
    }

    .header-left {
        gap: 16px;
    }
}

@media (max-width: 900px) {
    .main-section {
        flex-direction: column;
    }

    .container {
        margin: 0 auto;
        padding: 5%;
    }

}

@media (max-width: 768px) {
    .process {
        grid-template-columns: 1fr;
    }

    .process-text-1 {
        grid-row: 3;
    }

    .process-text-2 {
        grid-row: 7;
    }
}
